.landing::after {
    content: url(../../../Images/Frame.png);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.landing {
    height: fit-content;
    overflow: hidden;
}